$def with(content)
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <!-- <i class="fas fa-toilet-paper fa-3x mt-1 tm-logo"></i> -->
                        <img src="/static/img/pb_booty_trans.png" width="65px"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">Planet Booty</h1>
                            <p class="tm-slogon">lyric generator</p>
                        </div>        
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/index">Generate</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/songs">Songs</a>
                                </li>
<!--
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="services.html">Services</a>
                                </li>                            
-->
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
<h1>What is this?</h1>
<table width=60%>
<tr>
<td>
<p width=200px>This uses a <a href="https://d4mucfpksywv.cloudfront.net/better-language-models/language-models.pdf">GPT-2</a> model from OpenAI, trainined on 34 Planet Booty songs for next word prediction. Given some start text and various parameters, it generates new Planet Booty lyrics. The code is available <a href="https://github.com/ascott02/gpt-2">here</a>. It was forked from <a href="https://github.com/nshepperd/gpt-2">here</a>, which was originally forked from the OpenAI-GPT-2 <a href="https://github.com/openai/gpt-2">code</a>. The 34 songs are from Genius Lyrics.<br /> 


$:content
</td>
</tr>
</table>

